.todo {
  width: 700px;
  height: auto;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 8px;
}

.title {
  text-align: center;
  color: var(--white);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px 18px;
  color: var(--primary);
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 8px;
}

.btn:active {
  transform: translateY(-5px);
}

.input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: none;
  outline-color: var(--primary);
  border-radius: 8px;
  font-size: 18px;
}

.item-cards {
  margin-top: 30px;
}

.item-card {
  padding: 20px;
  color: var(--white);
  border: 1px solid var(--border);
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

h4 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.delBtn button {
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
  background-color: var(--red);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}